span{
    background-color: aqua;
    color: brown;
    font-size: 22px;

}

p{
    background-color: aquamarine;
    font-size: 18px;
    text-align: justify;
}

pre{
    background-color: bisque;
    font-size: 17px;
    text-align: justify;
    

}

h3{
    background-color: beige;
}


